<h1>Change password Page!</h1>
<form action="\user/change-password/" method="POST">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit">

    
            <h1 class="err-msg"></h1>

             <%= message %>
</form>
